.dog-info {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  background: #333;
  padding: 1rem 2rem;
  margin: 1rem;
  width: 20rem;
  height: 13rem;
  text-align: left;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

p {
  align-self: flex-start;
}

.dog-info--button {
  border: none;
  background: #fff;
  color: #333;
  padding: .5rem .8rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}